{% extends "ou_app/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead">                Unleash the power of outlines and improve your productivity.</p>
                <p>Are you a business professional who spends a lot of time capturing information and then manipulating it into different forms? Perhaps you are a business analyst who needs to document the output from a workshop in multiple formats... Excel, PowerPoint, Word etc.</p>
                <p>Here you will find a new, embryonic release of a web app which will allow you to transform structured data in outline form into multiple formats and save all that time spent cutting, pasting and otherwise manoeuvring data.</p>
                <p>Why not give it a try and see how you get on?</p>
            </div>
        </div>
    </div>
{% endblock %}